extends layout.pug

block content
  h4 Update video
  form(action="", method="POST")
    input(placeholder="Title", required, type="text", name="title", value=video.title, maxlength=60)
    input(placeholder="Description",  type="text", name="description", value=video.description maxlength=140)
    input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags", value=video.hashtags.join())
    input(type="submit", value="Save")