extends layout 

block content 
  if errorMessage
    span=errorMessage
  form(action="", method="post") 
    input(name="name", type="text",  placeholder="Name")
    input(name="email", type="email",  placeholder="E-mail", required)
    input(name="username", type="text",  placeholder="Username", required)
    input(name="password", type="password",  placeholder="Password", required)
    input(name="password2", type="password",  placeholder="Confirm password", required)
    input(name="location", type="text",  placeholder="Location")
    input(type="submit", value="Create Account")